In [1]:
import pandas as pd
import numpy as np

In [5]:
ecom = pd.read_csv("C:\\Users\\VIDIT SHRAMA\\Downloads\\EU\\EcommercePurchases.csv")

In [6]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

###### How many rows and columns are there?

In [10]:
row_col = ecom.shape
print('rows: ', row_col[0])
print('cols: ', row_col[1])

rows:  10000
cols:  14

###### What is the average Purchase Price?

In [15]:
PurPri_Avg = ecom['Purchase Price'].mean()
print('Avg purchase price is:',PurPri_Avg)

Avg purchase price is: 50.34730200000025

###### What were the highest and lowest purchase prices?

In [18]:
Max_Pur = ecom['Purchase Price'].max()
Mix_Pur = ecom['Purchase Price'].min()
print('Highest Purchase Price is:', Max_Pur)
print('Lowest Purchase Price is:', Mix_Pur)

Highest Purchase Price is: 99.99
Lowest Purchase Price is: 0.0

###### How many people have English 'en' as their Language of choice on the website?

In [25]:
Lang = ecom['Language'].value_counts()
eng = Lang.get(key = 'en')
print(eng,'people have english as their language choice')

1098 people have english as their language choice

###### How many people have the job title of "Lawyer" ?

In [32]:
JobTitle = ecom['Job'].value_counts()
Law = JobTitle.get(key = 'Lawyer')
print(Law, 'people have lawyer in their job title')

30 people have lawyer in their job title

###### How many people made the purchase during the AM and how many people made the purchase during PM ?

In [38]:
a_p = ecom['AM or PM'].value_counts()
am = a_p.get(key = 'AM')
pm = a_p.get(key = 'PM')
print(am, 'people have made purchases during AM')
print(pm, 'people have made purchases during PM')

4932 people have made purchases during AM
5068 people have made purchases during PM

###### Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [39]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

###### What is the email of the person with the following Credit Card Number:4926535242672853

In [44]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

###### How many people have American Express as their Credit Card Provider and made a purchase above $95 ?

In [46]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

###### How many people have a credit card that expires in 2025?

In [48]:
exp25 = sum(ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25')
print(exp25)

1033