### 1) Reassign the world “result negatve” in the following nested list to say “result positve” instead:	
 list_1 = [1,2[3,'result negative”, 5]]

In [2]:
list_1 = [1,2,[3,'result negative',5]]

In [3]:
list_1[2][1] = 'result positive'     
list_1

[1, 2, [3, 'result positive', 5]]

### 2)  keys and indexing, grab	“I_love_Barcelona” from the following dictonaries

d={‘k1:{‘k2’:’I	love	Barcelona’}}

In [4]:
d = {'k1':{'k2':'I love Barcelona'}}
d['k1']['k2']

'I love Barcelona'

d={‘k1’:[{‘I love Belgrade’:[‘this	is deep’,[‘I_love_Barcelona’]]}]}

In [5]:
d = {'k1':[{'I love Belgrade':['this is deep',['I love Barcelona']]}]}

In [6]:
d['k1'][0]['I love Belgrade'][1][0]

'I love Barcelona'

### 3) Use	a	set	to	find	the	unique	value	of	the	following	list:

In [9]:
list_1 = [1,1,2,2,2,33,4,4,11,34,3,3,1]

In [10]:
list_set = set(list_1)        
list_unique = list(list_set) 
print(list_unique)

[1, 2, 33, 4, 34, 3, 11]

### 4) Use	for,	split()	and	if	to	create	a	statement	that	will	print	out	words	that	start	with	‘a’

In [11]:
st = 'Hello! and how are you? Can I get you a beer or something?'

In [12]:
for word in st.split():
    if word[0] == 'a': 
        print(word)

and
are
a

### 5) Given	two	integer	numbers	return	their	product	only	if	the	product	is	equal	to	or	lower	than	100,	else	return	their	sum.

In [13]:
num1 = int(input('insert 1st number: '))              
num2 = int(input('insert 2nd number: '))               
product = num1*num2                             
res = (num1+num2) if product > 100 else product       
print(res)

insert 1st number: 5
insert 2nd number: 2
10

### 6) Use	list	comprehension	to	create	a	list	of	all	numbers	between	1	and	100	that	are	divisible	by	2.

In [14]:
lst = [x for x in range(1, 101)     
       if x % 2 == 0]           
print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

### 7) Fill	in	the	Line	class	methods	to	accepts	coordinates	as	a	pair	of	tuples	and	return	the	slope	and	distance	if	the	line.	Use	the	formulas	on	the	right.

In [15]:
class Line:
    def __init__(self, coor1, coor2):            
        self.coor1 = coor1
        self.coor2 = coor2
        
    def distance(self):                          
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((x2 - x1)**2 + (y2 - y1)**2)**0.5
    
    def slope(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return (y2 - y1) / (x2 - x1)
    
coordinate1 = (3 , 2)
coordinate2 = (8 , 10)

li = Line(coordinate1 , coordinate2)

In [16]:
li.distance()

9.433981132056603

In [17]:
li.slope()

1.6

### 8) Create	a	class	called	"Sphere"	and	use	two	func)ons	to	return	the	volume	of	a	circle	and	its	surface	area,	given	a	radius.

In [26]:
from math import *
class spheres():
    def __init__(self,r):                                
        self.radius = r
        self.area = 0
        self.volume = 0
        
    def get_radius(self):
        return self.radius 
    
    def surface_area(self):
        r = self.radius
        self.area = (4*3.14159)*(r*r)
        return(self.area)
    
    def vlm(self):
        r = self.radius
        self.volume = (4/3)*3.14159*(r*r*r)
        return(self.volume)
    
    def op_spheres():                                  
        r = float(input('enter radius:'))               
        s = spheres(r)
        print('The surface area is: ', s.surface_area())
        print('The volume is:', s.vlm())

if __name__ == '__main__':
    op_spheres()

enter radius:6
The surface area is:  452.38896
The volume is: 904.7779199999999